<div class="mdl-grid" role="group" aria-label="...">
    <!-- <div class="mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <h6>Select Datafile</h6>
    </div> -->
    <div uib-dropdown on-toggle="toggled(open)" class="mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <button id="single-button" type="button" class="mdl-button mdl-js-button mdl-button--raised file-dropdown" uib-dropdown-toggle ng-disabled="disabled">
            {{fc.fileName}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="data in fc.list">
                <a ng-click=fc.selectData(fc.prefix+data+".json")>{{data}}.json</a>
            </li>
        </ul>
    </div>
    <div class="mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--4-col-phone">
      <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="fc.openServerFile(fc.fileName)" title="Search">
        load
      </button>
    </div>

    <!-- <div class="mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <label class="custom-file-upload btn btn-default" for="file">Upload file</label>
      <input id="file" type="file" style="display:none;" ng-model="fc.query" accept=".json" app-filereader></input>
    </div>

    <div class="mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
      <button class="btn btn-default" type="button" ng-click="fc.readFile(fc.query)" title="Search">GO</button>
    </div> -->
</div>
